.skeleton {
	background: repeating-linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.05) 0%,
		rgba(255, 255, 255, 0.05) 5%,
		rgba(255, 255, 255, 0.11) 45%,
		rgba(255, 255, 255, 0.11) 55%,
		rgba(255, 255, 255, 0.05) 95%,
		rgba(255, 255, 255, 0.05) 100%
	);
	background-size: 200% 100%;
	animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200% 0;
	}
}

.custom-scrollbar::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.15);
}

.custom-scrollbar {
	scrollbar-width: thick;
	scrollbar-color: rgba(255, 255, 255, 0.05) transparent;
}
